<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="assets/style.css">
        
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css' rel='stylesheet' />

    </head>
    <body>
        <button id='protected_filter' class='filter'>Protégés</button>
        <button id='neutral_filter' class='filter'>Neutre</button>
        <button id='criminalized_filter' class='filter'>Criminalisé</button>
        <input class="input" id="toggle" type="checkbox" id='year_switch' checked>
        <label class="label" for="toggle">
            <div class="left">
            2017
            </div>

            <div class="switch">
            <span class="slider round"></span>
            </div>

            <div class="right">
            2020
            </div>
        </label>
        <div class="mapContainer">
            <div id="map"></div>    
        </div>

        <script>
            const paysCrime2020 = JSON.parse('<%- JSON.stringify(paysCrime2020) %>');

            const paysProteger2020 = JSON.parse('<%- JSON.stringify(paysProteger2020) %>');
            const paysNeutre2020 = JSON.parse('<%- JSON.stringify(paysNeutre2020) %>');


            const country = JSON.parse('<%- JSON.stringify(country) %>');
            const capitals = JSON.parse('<%- JSON.stringify(capitals) %>');
            
        </script>

        <script src="../js/map.js" type="module"></script>
    </body>
</html>
